:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 21px;
}

p {
  font-size: 13px;
  color: var(--Desaturated-Dark-Blue);
}